name: Build zips
on:
  push:
    branches: [master]

jobs:
  build:
    name: Build all zips
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-tags: true
      - name: Run Docker container
        uses: addnab/docker-run-action@v3
        with:
          image: deviationtx/deviation-docker
          options: -v ${{ github.workspace }}:/git/deviation
          run: |
            sudo /root/build.py --arm-prereq
            export PATH=$PATH:/opt/gcc-arm-none-eabi-8-2018-q4-major/bin
            cd /git/deviation/src
            make zip_devo10
      - name: Verify build
        id: zip_files
        shell: bash
        working-directory: src
        run: |
          num_zips=$(ls -l *zip | wc -l)
          echo "Found $num_zips zip files created"
          echo "num_zips=$num_zips" >> $GITHUB_OUTPUT
          if [[ $num_zips -eq 1 ]]; then
             echo "good_build=true" >> $GITHUB_OUTPUT
          else
            echo "good_build=false" >> $GITHUB_OUTPUT
            echo "Expected 19 zips - aborting"
            exit 1
          fi
      - name: Push to repo
        if: ${{ steps.zip_files.outputs.good_build == 'true' }}
        shell: bash
        run: |
          echo "Found ${{ steps.zip_files.outputs.num_zips }} zips.  Pushing"
          mkdir -p build
          rm -f build/*
          mv src/*zip build/
          git config --global user.name "github Action"
          git config --global user.email "none@example.com"
          git add --force build
          git status
          git commit -m "Zips built from latest push"
          # git push
        
