name: Build zips
on: push

jobs:
  build:
    name: Build all zips
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: recursive        
      - name: Run Docker container
        uses: addnab/docker-run-action@v3
        with:
          image: deviationtx/deviation-docker
          options: -v ${{ github.workspace }}:/git/deviation
          run: |
            sudo /root/build.py --arm-prereq
            export PATH=$PATH:/opt/gcc-arm-none-eabi-8-2018-q4-major/bin
            cd /git/deviation/src
            make zip_devo10
      - name: Verify build
        id: zip_files
        shell: bash
        working-directory: src
        run: |
          ls -l *zip | wc -l
          if [[ $(ls -l *zip | wc -l) -eq 19 ]]; then
             echo "good_build=true" >> $GITHUB_OUTPUT
          else
            echo "good_build=false" >> $GITHUB_OUTPUT
            exit 1
          fi
        
